body {
  background-color:#000;
  color:#0a8f43;
}

#newpost{

}

.name{

}

.content{
  
}

.feed{
width:500px;
margin:0 auto;
}

.post{
}

.post .post_content{
}

#container {
width:960px;
margin:0px auto;
}
